<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
</head>
<body>
	<div class="container">
	<div th:insert="fragments/components :: header" class="card-title container-fluid text-center"></div>

			<div th:replace="fragments/components :: menu"></div>
			</br> </br>
			<div th:replace="fragments/components :: myNavbar"></div>
			</br> </br>
		<div class="card" style="max-width:800Px; margin: 0 auto">
			<div class="card-header container-fluid text-center"><b>Przepisy</b></div>
			<div class="card-body">
			<div class="container text-center">
			<a th:href = "@{/newrecipe}" ><b> Dodaj nowy przepis </b></a>
	
	</br> </br>
	
	<div th:if="${messege}" class="alert alert-success text-center">
		[[${messege}]]
	</div>
	<div th:if="${messegeNOT}" class="alert alert-danger text-center">
		[[${messegeNOT}]]
	</div>
	
		<table border="1" class = "table table-bordered" >
			<thead class="thread-dark">
				<tr>
					
					<th>
						Name
					</th>
					<th>
						Ingredients
					</th>
					<th>
						Description
					</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="recipe : ${listRecipes}">
					<td th:text="${recipe.name}"></td>
					<td th:text="${recipe.ingredients}"></td>
					<td th:text="${recipe.description}"></td>
					<td> 
						<a th:href="@{/recipes/cook/{id}(id=${recipe.id})}" class="btn btn-success">Cook</a>
						<a th:href="@{/recipes/edit/{id}(id=${recipe.id})}" class="btn btn-primary">Update</a>
						<a th:href="@{/recipes/editIngredients/{id}(id=${recipe.id})}" class="btn btn-info">Update Ingredients</a>
					    <a th:href="@{/recipes/delete/{id}(id=${recipe.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		
			</div>
			</br> </br> 
		</div>Stopka
			<div th:include="fragments/components :: footer"></div>
	</div>
</body>
</html>